# Logs
*.log
npm-debug.log*

# Dependencias
node_modules/
package-lock.json
pnpm-lock.yaml

# Editor
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Build
.dist/
.cache/

# Environment
.env
.env.local
